package individ;
import java.util.*;

class Predpriatie {
    ArrayList<Predpr>a;
    Predpriatie(){
        a = new ArrayList<Predpr>();
    }
    void add(Predpr c){
        a.add(c);
    }
    void del(String name){
        int p = -1;
        for(int i = 0;i<a.size();i++){
            if(name.equalsIgnoreCase(a.get(i).getName()))
                p = i;
        }
        if(p>-1){
            a.remove(p);
            System.out.println("delate sotrudnika:" + name);
        }
        else System.out.println("sotrudnika no");
    }
    void find(String otdel){
        boolean f = false;
        for(int i = 0;i<a.size();i++){
            if(otdel.equalsIgnoreCase(a.get(i).getOtdel())){
                f = true;
                System.out.println(a.get(i).toString());
            }
        }
        if(!f){
            System.out.println("Sotrudnik not find");
        }
    }
    void sortByOld(){
        a.sort(Predpr.OldComparator);
    }
    void print(){
        for(int i = 0;i<a.size();i++){
            System.out.println(a.get(i).toString());
        }
    }
}







package individ;
import java.util.*;

class Predpr {
    String name, otdel;
    int old, kod;
    Predpr(String name, int old, int kod, String otdel){
        this.name = name;
        this.old = old;
        this.kod = kod;
        this.otdel = otdel;
    }
    
    String getName() {return name;}
    int getOld() {return old;}
    int getKod() {return kod;}
    String getOtdel() {return otdel;}
    
    void setName(String name) {this.name = name;}
    void setOld(int old) {this.old = old;}
    void setKod(int kod) {this.kod = kod;}
    void setOtdel(String otdel) {this.otdel = otdel;}
    
    public String toString(){
        return "Name: " + name + "\n Old: " + old + "\n Kod: " + kod + "\n Otdel: " + otdel;
    }
    
    public int compare(Predpr p1, Predpr p2){
        return p1.getOld()-p2.getOld();
    }
    public static Comparator<Predpr> OldComparator = new Comparator <Predpr>(){
        public int compare(Predpr p1,Predpr p2){
            return p1.getName().compareTo(p2.getName());
        }
    };
}






package individ;
import java.util.*;

public class Individ {

    public static void main(String[] args) {
        Scanner sc = new Scanner(System.in);
        Scanner scL = new Scanner(System.in);
        Predpriatie pr = new Predpriatie();
        System.out.println("Enter count sotrudnikov: ");
        int n = sc.nextInt();
        for(int i = 0;i<n;i++){
            System.out.println("Name: ");
            String name = scL.nextLine();
            System.out.println("Old: ");
            int old = sc.nextInt();
            System.out.println("Kod sotrudnika: ");
            int kod = sc.nextInt();
            System.out.println("Otdel raboti: ");
            String otdel = scL.nextLine();
            Predpr p = new Predpr(name,old,kod,otdel);
            pr.add(p);
        }
        System.out.println("Who delate?");
        String f = scL.nextLine();
        pr.del(f);
        
        System.out.println("Sort by old: ");
        pr.sortByOld();
        pr.print();
        
        System.out.println("Find by otdelu");
        String otdels = scL.nextLine();
        pr.find(otdels);
    }
}
